**/__pycache__/
**/*.py[cod]
**/.venv/
**/venv/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.ty/
**/.coverage
**/htmlcov/
**/cache/
**/.git/
**/.gitignore
**/.classpath
**/.dockerignore
**/.env
**/.env.*
!**/.env.example
**/.project
**/.settings
**/.toolstarget
**/.vs/
**/.vscode/
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.gpkg
**/*.ipynb
**/bin/
**/build/
**/charts/
**/dist/
**/*.egg-info/
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules/
**/npm-debug.log
**/obj/
**/secrets.dev.yaml
**/values.dev.yaml
**/docs/
tests/
LICENSE
